@{
    Layout = null;
}
@model Login


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/clienteEditar.css">
    <title>Editar Perfil do Cliente</title>
</head>
<body>
    <header>
        <h1>Editar Perfil do Cliente</h1>
    </header>
    <div class="container">
        <h2>Dados Pessoais</h2>
        <div class="profile-info">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" id="Nome" name="Nome" value="@Model.Nome" readonly>
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" value="@Model.Email" readonly>
            </div>
        </div>

        <h2>Avaliar Arquitetos</h2>
        <div class="profile-info rating-container">
            <span class="rating-label">Avaliação:</span>
            <!-- Adicione aqui os elementos para a avaliação dos arquitetos (por exemplo, estrelas) -->
        </div>
        <h2>Favoritos</h2>
        <div class="profile-info">
            <!-- Adicione aqui a lista de arquitetos favoritos do cliente -->
        </div>

        <form asp-controller="Conta" asp-action="Update" method="post">

        <h2>Estimativa de Preço</h2>     
        <div class="profile-info price-estimate-container">
            <div class="form-group">
                <label for="preco">Estimativa de Preço:</label>
                    <input type="text" id="preco" name="Preco" placeholder="Informe a estimativa de preço" value="@Model.Preco" autocomplete="off">
            </div>
        </div>

        <h2>Resumo do Pedido</h2>
        <div class="profile-info order-summary-container">
            <div class="form-group">
                <label for="resumoPedido">Resumo do Pedido:</label>
                @*<input type="text" id="descricao" name="Descricao" placeholder="Informe um resumo do seu pedido" value="@Model.Descricao">*@
                  <textarea id="resumoPedido" name="Descricao" placeholder="Informe um resumo do seu pedido"></textarea>
            </div>
        </div>

                <div class="alert alert-danger" id="error-message">@ViewBag.ErrorMessage</div>
            
            <input type="hidden" asp-for="@Model.Id"/>    

            <button class="btn-save" type="submit">Salvar</button>

        </form>
    </div>
</body>
</html>
